/*	--------------------------------------------------
				Custom CSS
-------------------------------------------------- */

* {
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/satinweave_@2X.png') repeat top left;
}

h2, h3, a {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
}

h2 {
	font-size: 1.75em;
	font-weight: 700;
	text-shadow: 1px 1.5px .5px #ccc;
}

h2, h3 {
	color: #005ea5;
}

a {
	text-decoration: none;
}

h3 {
	font-weight: 400;
	text-shadow: .5px .5px #777;
}

hr {
	width: 75%;
	height: 5px;
	color: #ccc;
	background: #eee;
	margin: 0 auto;
	border: none;
	border-radius: 2px;
}


/*	--------------------------------------------------
				Framework
-------------------------------------------------- */

.container {
	width: 75%;
	margin: 0 auto;
	padding: 3em 0;
	text-align: center;
}

.widthContainer {
	width: 90%;
	margin: 0 auto;
}

.right {
	float: right;
}

.left {
	float: left;
}



/* ---------- Bars ------------ */

.bar {
	background: #005ea5;
	width: 100%;
	padding: 0.625em 0;
}

.bar a {
	color: #a7cbe3;
	font-size: 0.75em;
}


/* ---------- Buttons ------------ */

.whiteButton {
	display: inline-block;
	color: #005ea5;
	background-color: #fff;
	padding: .625em;
	box-shadow: 0px 3px 3px #222;
	margin-bottom: .625em;
	border: 1px solid #fff;
}

.whiteButton:hover {
	color: #fff;
	background-color: #005ea5;
	border: 1px solid #fff;
}

.blueButton {
	color: #fff;
	background-color: #005ea5;
	padding: .625em 1.5em;
	box-shadow: 0px 3px 3px #222;
	margin-bottom: .625em;
	margin-top: 1em;
	font-size: .875em;
	display: inline-block;
	border: 1px solid #005ea5;
}

.blueButton:hover {
	color: #005ea5;
	background-color: #fff;
	border: 1px solid #005ea5;
}

/* ---------- Clearfix ------------ */

.clearfix { 
	zoom: 1; 
}

.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}

/* ---------- Hidden ------------ */

.hidden {
	display: none;
}

.hiddenText {
	position: absolute;
	left: -9999px;
}



/*	--------------------------------------------------
				Top Bar
-------------------------------------------------- */

.topBar {
	text-align: center;
}

.left {
	float: none;
}

.topBar .loginButton {
	display: none;
}



/*	--------------------------------------------------
				Main Logo
-------------------------------------------------- */

.mainLogo {
	padding: 2.5em 0;
}

.mainLogo a {
	width: 275px; /* Original 874px */
	height: 109px; /* Original 375px */
	text-indent: -9999px;
	display: block;
	background: url(../images/MGlogo.png) no-repeat 0 0;
	background-size: contain;
	margin: 0 auto;
}


/*	--------------------------------------------------
				Main Nav
-------------------------------------------------- */

.mainNav { 
	background-color: #ccbea2;
	text-align: center;
}

.mainNav a {
	color: #222;
	text-shadow: 1px 1px #ccc;
}

.mainNav a:hover {
	color: #fff;
	text-shadow: 1px 1px #777;
}

.mobileNav li {
	display: inline;
}

.mobileNav a {
	display: inline-block;
	padding: 1.25em 2.5em;
}

.navItems {
	display: none;
}


/*	--------------------------------------------------
				Main CTA
-------------------------------------------------- */

.mainCTA {
	background: #005ea5 url('../images/CTAbackground.jpg') no-repeat;
	background-size: cover;
}

.mainCTA h1, .mainCTA p {
	color: #fff;
	margin-bottom: 30px;
}

.mainCTA p {
	line-height: 1.5;
	text-shadow: 1px 1px #222;
	font-size: 1.125em;
}

.mainCTA h1 {
	text-shadow: 1px 2px 2px #222;
	font-size: 2.75em;
	line-height: 1.25;
}


/*	--------------------------------------------------
				Practice Areas
-------------------------------------------------- */

.practiceAreas h2, .practiceAreas p {
	margin-bottom: 20px;
	text-align: center;
	line-height: 1.3;
}

.areas a {
	display: block;
	text-align: center;
	margin-bottom: 1em;
	color: #222;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.25em;
}

/*	--------------------------------------------------
				Meet Our Team
-------------------------------------------------- */

.teamCTA {
	background: #005ea5 url('../images/TEAMbackground.jpg') no-repeat;
	background-size: cover;
}

.teamCTA h1, .teamCTA p {
	color: #fff;
	margin-bottom: 30px;
	text-align: center;
}

.teamCTA p {
	text-shadow: 1px 1px #222;
	font-size: 1.125em;
}

.teamCTA h1 {
	text-shadow: 1px 2px 2px #222;
	line-height: 1.25;
}


/*	--------------------------------------------------
				Featured Lawyer
-------------------------------------------------- */

.featured h3 {
	margin: 1.5em 0 0;
}

.featured p {
	margin: 1em 0;
	line-height: 1.5;
}

.featured blockquote {
	margin: 1em 0;
	line-height: 1.5;
}

.featured img {
	margin: .675em 0 1.5em;
	padding: 1em;
	background: #fff;
	border: 10px solid #c8b99a;
  	-webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}







/*	--------------------------------------------------
				Recent News
-------------------------------------------------- */

.recentNews h3 {
	margin: 1.5em 0 0;
}

.recentNews p {
	margin: 1em 0;
	line-height: 1.5;
}

.date {
	color: #c8b99a;
}



/*	--------------------------------------------------
				Footer
-------------------------------------------------- */

.mainFooter {
	background: #c8b99a;
	text-align: center;
	line-height: 1.5;
}

.mainFooter p {
	text-shadow: .5px .5px #ddd;
}

.mainFooter img {
	width: 200px; 
	height: 125px; 
	display: inline-block;
	background: url(../images/MGlogo.png) no-repeat 0 0;
	background-size: contain;
	box-shadow: 0px 3px 3px #222;
	margin: 1.25em auto;
}




/*	--------------------------------------------------
				Bottom Bar
-------------------------------------------------- */

.barContainer {
	margin: 0 auto;
	width: 75%;
	text-align: center;
}

.bar img {
	width: 100px; 
	height: 40px; 
	display: block;
	background: url(../images/MGlogo.png) no-repeat 0 0;
	background-size: contain;
	margin: 0 1.25em;
}

.bar li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	/*float: left;*/
}

.bar a {
	display: block;
	/*padding-top: 20px;*/
}
















/*	--------------------------------------------------
				Breakpoints
-------------------------------------------------- */










/*	--------------------------------------------------
				768px
-------------------------------------------------- */

@media screen and (min-width: 768px) {


	/* --------------
		Font Styles
	----------------- */

	h2 {
		font-size: 2.5em;
	}

	/* --------------
		Framework
	----------------- */

	.whiteButton {
		font-size: 1.25em;
	}

	.blueButton {
		font-size: 1em;
	}

	hr {
		height: 5px;
		color: #777;
		background: #ddd;
	}

	/* --------------
		Top Bar
	----------------- */
	
	.widthContainer .right {
		display: block;
	}

	.left {
		float: left;
	}

	.topBar a {
		padding: .875em 0;
		font-size: 1em;
	}



	/* --------------
		Main Logo
	----------------- */

	.mainLogo a {
		width: 400px; /* Original 874px */
		height: 158px; /* Original 375px */
		text-indent: -9999px;
		display: block;
		background: url(../images/MGlogo.png) no-repeat 0 0;
		background-size: contain;
		margin: 0 auto;
	}	




	/* --------------
		Main Nav
	----------------- */

	li .loginNav {
		display: none;
	}

	.mobileNav {
		font-size: 1.5em;
	}


	/* --------------
		Main CTA
	----------------- */

	.mainCTA h1 {
		font-size: 3.5em;
	}

	.mainCTA p {
		font-size: 1.5em;
		letter-spacing: .5;
	}


	/* --------------
		Practice Areas
	----------------- */
	
	.areaContainer {
		width: 90%;
	}

	.practiceAreas p {
		font-size: 1.5em;
	}

	.practiceAreas a>p {
		font-size: 1.25em;
	}

	.areas a {
		display: inline-block;
		width: 49%;
		padding: 0 2%;
		vertical-align: top;
	}

	.areas {
		padding: 3.125em 0;
	}



	/* --------------
		Our Team CTA
	----------------- */

	.teamCTA h1 {
		font-size: 2.75em;
	}

	.teamCTA p {
		font-size: 1.375em;
		line-height: 1.3;
	}

	/* --------------
		Featured
	----------------- */
	
	.featured blockquote {
		font-size: 1.25em;
	}

	/* --------------
		News
	----------------- */

	.news p {
		font-size: 1.25em;
	}



}

/*	--------------------------------------------------
				1024px
-------------------------------------------------- */

@media screen and (min-width: 1024px) {

	/* --------------
		Fonts
	----------------- */

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 1.5em;
	}

	/* --------------
		Nav
	----------------- */


	.mobileNav li {
		display: none;
	}

	.navItems {
		display: block;
	}

	.navItems ul {
		display: block;
	}

	.navItems li {
		display: inline;
	}

	.navItems a {
		display: inline-block;
		padding: 1.5em .75em;
		font-size: 1.125em;
	}



	/* --------------
		Framework
	----------------- */

	.maxWidth {
		max-width: 1024px;
	}

	/* --------------
		Practice Areas
	----------------- */

	.practiceAreas p {
		font-size: 1.5em;
	}

	.area {
		display: inline-block;
		width: 30%;
		padding: 0 2%;
		vertical-align: top;
	}

	.areas a {
		display: inline-block;
	}
	


	/* --------------
		Main Nav
	----------------- */

	.navItems a {
		padding: 1.375em 1.5em;
	}

	/* --------------
		Featured
	----------------- */
	.featured blockquote {
		clear: both;
	}

	.featuredLawyer {
		text-align: left;
		padding-left: 185px;
		width: 60%;
		margin: 0 auto;
	}
	.featuredLawyer img {
		float:left;
		margin-left: -185px;
	}

	.featured h3 {
		width: 60%;
		text-align: left;
		margin: 1.5em auto 0;

	}

	.featured p {
		padding-top: 50px;
	}


	/* --------------
		News
	----------------- */
	.recentNews p {
		font-size: 1.25em;
	}

	
	/* --------------
		Footer
	----------------- */

	.footerCol {
		display: inline-block;
		text-align: left;
		width: 32%;
		padding: 0 2%;
		vertical-align: middle;
	}

	/* --------------
		Bottom Bar
	----------------- */

	.bar a {
		font-size: 1em;
	}

	.bar a:hover {
		color: #fff;
	}

}










/*	--------------------------------------------------
				1280px
-------------------------------------------------- */

@media screen and (min-width: 1280px) {

	.maxWidth {
		max-width: 1280px;
	}

	.areas a {
		width: 30%;
		padding: 2em 2em 1em;
	}

	.areas {
		padding: 2.5em 0 3.125em;
	}

	.teamCTA p {
		font-size: 1.75em;
		letter-spacing: .4;
	}

	.footerContainer p {
		font-size: 1.25em;
	}

	hr {
		display: none;
	}


}



