/*	--------------------------------------------------
				Custom CSS
-------------------------------------------------- */

* {
	box-sizing: border-box;
	font-family: "Times New Roman", serif;
}

h1, h2, h3, a {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

/*	--------------------------------------------------
				Framework
-------------------------------------------------- */
.container {
	width: 960px;
	margin: 0 auto;
}

.right {
	float: right;
}

.left {
	float: left;
}

.login::after {
	
}

.hidden {
	display: none;
}

.topBar {
	text-align: center;
}

.whiteButton {
	color: #005ea5;
	background-color: #fff;
}

.blueButton {
	color: #fff;
	background-color: #005ea5;
}

.bar {
	background: #005ea5;
	width: 100%;
	padding: .625em 0;
}

.bar a {
	color: #a7cbe3;
}

/*	--------------------------------------------------
				Top Bar
-------------------------------------------------- */
























