/*	--------------------------------------------------
				Custom CSS
-------------------------------------------------- */

* {
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}

h2, h3, a {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
}

h2 {
	font-size: 1.75em;
}

h2, h3 {
	color: #005ea5;
}

a {
	text-decoration: none;
}



/*	--------------------------------------------------
				Framework
-------------------------------------------------- */

.siteContainer {
	width: 960px;
	margin: 0 auto;
}

.container {
	width: 75%;
	margin: 0 auto;
	padding: 2em 0;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* ---------- Bars ------------ */

.bar {
	background: #005ea5;
	width: 100%;
	padding: .625em 0;
}

.bar a {
	color: #a7cbe3;
	font-size: .875em;
}


/* ---------- Buttons ------------ */

.whiteButton {
	display: inline-block;
	color: #005ea5;
	background-color: #fff;
	padding: .625em;
	box-shadow: 0px 3px 3px #222;
	margin-bottom: .625em;
}

.blueButton {
	color: #fff;
	background-color: #005ea5;
	padding: .5em;
	box-shadow: 0px 3px 3px #222;
	margin-bottom: .625em;
	font-size: .875em;
}

/* ---------- Clearfix ------------ */

.clearfix { 
	zoom: 1; 
}

.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}

/* ---------- Hidden ------------ */

.hidden {
	display: none;
}

.hiddenText {
	position: absolute;
	left: -9999px;
}



/*	--------------------------------------------------
				Top Bar
-------------------------------------------------- */

.topBar {
	text-align: center;
}



/*	--------------------------------------------------
				Main Logo
-------------------------------------------------- */

.mainLogo {
	padding: 2.5em 0;
}

.mainLogo a {
	width: 275px; /* Original 874px */
	height: 109px; /* Original 375px */
	text-indent: -9999px;
	display: block;
	background: url(../images/MGlogo.png) no-repeat 0 0;
	background-size: contain;
	margin: 0 auto;
}


/*	--------------------------------------------------
				Main Nav
-------------------------------------------------- */

.mainNav {
	background: #ccbea2;
	text-align: center;
}

.mainNav a {
	color: #222;
	text-shadow: 1px 1px #ccc;
}

.mainNav a:hover {
	color: #fff;
	text-shadow: 1px 1px #777;
}

.mobileNav li {
	display: inline;
}

.mobileNav a {
	display: inline-block;
	padding: 1.25em 2.5em;
}

.navItems {
	display: none;
}


/*	--------------------------------------------------
				Main CTA
-------------------------------------------------- */

.mainCTA {
	background: #005ea5 url();
}

.mainCTA h1, .mainCTA p {
	color: #fff;
	margin-bottom: 30px;
}

.mainCTA p {
	line-height: 1.5;
	text-shadow: 1px 1px #222;
	font-size: 1.125em;
}

.mainCTA h1 {
	text-shadow: 1px 2px #222;
	font-size: 2.75em;
	line-height: 1.25;
}


/*	--------------------------------------------------
				Practice Areas
-------------------------------------------------- */

.bodyContainer h2, .bodyContainer p{
	margin-bottom: 20px;
	text-align: center;
	line-height: 1.3;
}

.practiceAreas a {
	display: block;
	text-align: center;
	margin-bottom: 2em;
	color: #222;
}

/*	--------------------------------------------------
				Meet Our Team
-------------------------------------------------- */

.teamCTA {
	background: #005ea5 url();
}

.teamCTA h1, .teamCTA p {
	color: #fff;
	margin-bottom: 30px;
}


/*	--------------------------------------------------
				Featured Lawyer
-------------------------------------------------- */







/*	--------------------------------------------------
				Recent News
-------------------------------------------------- */







/*	--------------------------------------------------
				Footer
-------------------------------------------------- */

.mainFooter {
	background: #c8b99a;
}

.mainFooter p {
	text-shadow: .5px .5px #eee;
}

.mainFooter img {
	width: 200px; 
	height: 125px; 
	display: inline-block;
	background: url(../images/MGlogo.png) no-repeat 0 0;
	background-size: contain;
	box-shadow: 0px 3px 3px #222;
	margin: 1.25em auto;
}




/*	--------------------------------------------------
				Bottom Bar
-------------------------------------------------- */

.barContainer {
	margin: 0 auto;
	width: 75%;
	text-align: center;
}

.bar img {
	width: 100px; 
	height: 40px; 
	display: inline-block;
	background: url(../images/MGlogo.png) no-repeat 0 0;
	background-size: contain;
	margin: 0 1.25em;
}







